<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Round" rel="stylesheet">
    <!-- OR Material Symbols -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <title>Trang chủ</title>
    <link rel="icon" type="image/png" href="/images/logo.png">

    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-purple-50">
<div class="container mx-auto p-4 max-w-7xl">

    <div th:replace="fragment/navbar :: navbar"></div>

    <div th:if="${error}" class="text-red-500" th:text="${error}"></div>
    <div th:if="${success}" class="text-green-500" th:text="${success}"></div>


    <div class="bg-white p-4 rounded-lg shadow-md">

        <nav class="flex items-center space-x-1 text-gray-500 text-sm mb-10 select-none">
            <i class="fas fa-home"></i>
            <svg
                    class="w-3 h-3 mx-2"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
            >
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
            </svg>
            <span>Quản lý người dùng</span>
        </nav>

        <div class="d-flex justify-content-end align-items-center mb-3">
            <h3 class="me-3 mb-0">Chọn số lượng bản ghi</h3>
            <select id="selectPageSize" class="form-select w-auto">
                <option value="10">10 bản ghi</option>
                <option value="20">20 bản ghi</option>
                <option value="50">50 bản ghi</option>
            </select>
        </div>


        <!-- Flex container for search bar and add user button in one row -->
        <div class="flex justify-between mb-4">

            <!-- Search-->
            <div class="flex items-center w-64 relative">
                <input id="searchInput" name="search" class="w-full p-1.5 pl-8 border border-gray-300 rounded-lg text-sm"
                       placeholder="Search" type="text" th:value="${search}"/>
                <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">
                    <i class="fas fa-search"></i>
                </span>
                <button id="submitBtn"
                        type="submit"
                        class="bg-blue-600 hover:bg-blue-700 text-white p-1.5 rounded-r-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <i class="fas fa-search"></i>
                    <span class="sr-only">Search</span>
                </button>
                <div id="suggestions"
                     class="absolute left-0 top-full z-10 bg-white border border-gray-300 rounded-lg mt-1 w-full hidden max-h-60 overflow-y-auto text-sm shadow-md">
                </div>
            </div>

            <!-- Add User -->
            <a href="/admin/addUser" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md">
                Thêm Người Dùng
            </a>
        </div>


        <!-- User Table -->
        <div id="userTableContainer">
            <table class="min-w-full bg-white">
                <thead>
                <tr>
                    <th class="py-3 px-4 border-b">
                        STT
                    </th>
                    <th class="py-3 px-4 border-b">
                        TÊN
                    </th>
                    <th class="py-3 px-4 border-b">
                        MÃ NHÂN SỰ
                    </th>
                    <th class="py-3 px-4 border-b">
                        EMAIL
                    </th>
                    <th class="py-3 px-4 border-b">
                        QUYỀN
                    </th>
                    <th class="py-3 px-4 border-b">
                        TRẠNG THÁI
                    </th>
                    <th class="py-3 px-4 border-b">
                        HÀNH ĐỘNG
                    </th>
                </tr>
                </thead>
                <tbody id="userTableBody">
                <tr th:each="ls, index : ${userList}" th:attr="data-id=${ls.userID}">
                    <td class="py-3 px-4 border-b" th:text="${(index.count)+(currentPage-1)*10}">
                        1
                    </td>
                    <td class="py-3 px-4 border-b" th:text="${ls.fullName}">
                        Jane Cooper
                    </td>
                    <td class="py-3 px-4 border-b" th:text="${ls.userID}">
                        TC1001238
                    </td>
                    <td class="py-3 px-4 border-b" th:text="${ls.email}">
                        jane.cooper@example.com
                    </td>
                    <td class="py-3 px-4 border-b" th:text="${ls.role.getRoleName()}">
                        Admin
                    </td>
                    <td class="py-3 px-4 border-b" th:if="${ls.status.name() == 'ACTIVE'}">
                <span class="bg-green-100 text-green-800 px-2 py-1 rounded-full">
                 Active
                </span>
                    </td>
                    <td class="py-3 px-4 border-b" th:if="${ls.status.name() == 'INACTIVE'}">
                <span class="bg-gray-200 text-gray-800 px-2 py-1 rounded-full">
                 Inactive
                </span>
                    </td>
                    <td class="py-3 px-4 border-b">
                        <a class="text-blue-500 mr-2 change-pass-btn" href="#"
                           th:attr="data-id=${ls.userID},data-name=${ls.fullName}">
                            Đặt lại mật khẩu
                        </a>
                        <a class="text-blue-500 mr-2 edit-btn" href="#"
                           th:attr="data-id=${ls.userID},data-name=${ls.fullName},data-email=${ls.email},data-role=${ls.role.getRoleName()},data-status=${ls.status.name()}">
                            Chỉnh sửa
                        </a>
                        <a class="text-red-500 delete-btn" href="#"
                           th:attr="data-id=${ls.userID},data-name=${ls.fullName}">
                            Xóa
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination with AJAX support -->
    <div id="paginationContainer" class="box-footer clearfix mt-4">
        <ul class="pagination pagination-sm no-margin float-end square-pagination flex justify-end space-x-1">
            <!-- Nút Previous -->
            <li class="page-item">
                <th:block th:if="${currentPage > 1 and search != null and search != ''}">
                    <a class="page-link py-2 px-3 border border-gray-300 rounded pagination-link"
                       href="javascript:void(0)" th:attr="data-page=${currentPage - 1}, data-search=${search}">
                        «
                    </a>
                </th:block>
                <th:block th:if="${currentPage > 1 and (search == null or search == '')}">
                    <a class="page-link py-2 px-3 border border-gray-300 rounded pagination-link"
                       href="javascript:void(0)" th:attr="data-page=${currentPage - 1}">
                        «
                    </a>
                </th:block>
                <th:block th:unless="${currentPage > 1}">
                    <span class="page-link py-2 px-3 border border-gray-300 rounded text-gray-400 cursor-not-allowed">«</span>
                </th:block>
            </li>

            <!-- Các số trang -->
            <li class="page-item"
                th:if="${totalPage > 1}"
                th:each="i : ${#numbers.sequence(1, totalPage)}"
                th:classappend="${i == currentPage} ? 'active'">

                <th:block th:if="${search != null and search != ''}">
                    <a class="page-link py-2 px-3 border border-gray-300 rounded pagination-link"
                       th:classappend="${i == currentPage} ? 'bg-blue-100'"
                       href="javascript:void(0)" th:attr="data-page=${i}, data-search=${search}"
                       th:text="${i}">1</a>
                </th:block>

                <th:block th:unless="${search != null and search != ''}">
                    <a class="page-link py-2 px-3 border border-gray-300 rounded pagination-link"
                       th:classappend="${i == currentPage} ? 'bg-blue-100'"
                       href="javascript:void(0)" th:attr="data-page=${i}"
                       th:text="${i}">1</a>
                </th:block>
            </li>

            <!-- Nút Next -->
            <li class="page-item">
                <th:block th:if="${currentPage < totalPage and search != null and search != ''}">
                    <a class="page-link py-2 px-3 border border-gray-300 rounded pagination-link"
                       href="javascript:void(0)" th:attr="data-page=${currentPage + 1}, data-search=${search}">
                        »
                    </a>
                </th:block>
                <th:block th:if="${currentPage < totalPage and (search == null or search == '')}">
                    <a class="page-link py-2 px-3 border border-gray-300 rounded pagination-link"
                       href="javascript:void(0)" th:attr="data-page=${currentPage + 1}">
                        »
                    </a>
                </th:block>
                <th:block th:unless="${currentPage < totalPage}">
                    <span class="page-link py-2 px-3 border border-gray-300 rounded text-gray-400 cursor-not-allowed">»</span>
                </th:block>
            </li>
        </ul>
    </div>

    <!-- Pop up change password -->
    <div id="changePassModal"
         style="background-color: #000000a8;"
         class="fixed inset-0 flex items-center justify-center z-50"
         th:classappend="${errorChangePass} != null ? '' : ' hidden'">
        <div class="bg-white rounded-lg shadow-lg w-[360px] max-w-full p-6">
            <h2 class="text-sm font-semibold text-gray-900 mb-4 select-none" id="modal-title1">
                Đặt lại mật khẩu
            </h2>
            <form id="changePassForm" class="space-y-4 text-xs text-gray-700">
                <input type="hidden" id="userId1" name="userId" th:value="${userId}">
                <div class="flex flex-col">
                    <label class="mb-1 select-none" for="currentPassword">
                        Mật khẩu hiện
                    </label>
                    <input class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                           id="currentPassword" name="currentPassword" type="password"/>
                    <label class="mb-1 select-none" for="newPassword">
                        Mật khẩu mới
                    </label>
                    <input class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                           id="newPassword" name="newPassword" type="password"/>
                    <label class="mb-1 select-none mt-3" for="confirmPassword">
                        Xác thực mật khẩu mới
                    </label>
                    <input class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                           id="confirmPassword" name="confirmPassword" type="password"/>
                </div>

                <div class="flex justify-end space-x-3 pt-2">
                    <button class="text-gray-700 text-xs px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-1"
                            type="button" onclick="closeChangeModal()">
                        Hủy
                    </button>
                    <button class="bg-blue-600 text-white text-xs px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-1"
                            type="submit"
                            id="changePassButton">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Edit User Modal -->
    <div id="editUserModal" aria-labelledby="modal-title" aria-modal="true"
         style="background-color: #000000a8;"
         class="fixed inset-0 flex items-center justify-center z-50 " role="dialog"
         th:classappend="${errorUpdate} != null ? '' : ' hidden'">
        <div class="bg-white rounded-lg shadow-lg w-[560px] max-w-full p-6">
            <h2 class="text-sm font-semibold text-gray-900 mb-4 select-none" id="modal-title">
                Thông tin tài khoản
            </h2>
            <h2 style="color: red" th:text="${errorUpdate}"></h2>
            <form id="editUserForm" class="space-y-4 text-xs text-gray-700" method="post" th:action="@{/update}">
                <input type="hidden" id="userId" name="userId" th:value="${userId}">
                <div class="flex space-x-4">
                    <div class="flex flex-col flex-1">
                        <label class="mb-1 select-none" for="name">
                            Tên
                        </label>
                        <input class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                               th:value="${name}" id="name" name="name" type="text"/>
                    </div>
                    <div class="flex flex-col flex-1">
                        <label class="mb-1 select-none" for="employeeId">
                            Mã nhân sự
                        </label>
                        <input class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent bg-gray-200"
                               th:value="${userId}" id="employeeId" name="employeeId" type="text" readonly/>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 select-none" for="email">
                        Email
                    </label>
                    <input class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent "
                           th:value="${email}" id="email" name="email" type="email"/>
                </div>
                <div class="flex space-x-4">
                    <div class="flex flex-col flex-1">
                        <label class="mb-1 select-none" for="role">
                            Role
                        </label>
                        <select class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                                id="role" name="role">
                            <option th:selected="${role == 'Admin'}" value="Admin">Admin</option>
                            <option th:selected="${role == 'Employee'}" value="Employee">Employee</option>
                        </select>
                    </div>
                    <div class="flex flex-col flex-1">
                        <label class="mb-1 select-none" for="status">
                            Trạng thái
                        </label>
                        <select class="border border-gray-300 rounded-md px-3 py-2 text-xs focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                                id="status" name="status">
                            <option th:selected="${status == 'ACTIVE'}" value="ACTIVE">Active</option>
                            <option th:selected="${status == 'INACTIVE'}" value="INACTIVE">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-end space-x-3 pt-2">
                    <button class="text-gray-700 text-xs px-3 py-1 rounded-md border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-1"
                            type="button" onclick="closeEditModal()">
                        Hủy
                    </button>
                    <button class="bg-blue-600 text-white text-xs px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-1"
                            id="editUserButton"
                            type="submit">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Delete Confirmation Modal - Hidden by default -->
    <div id="deleteUserModal" aria-labelledby="delete-modal-title" aria-modal="true"
         style="background-color: #000000a8;"
         class="fixed inset-0 flex items-center justify-center z-50 hidden" role="dialog">
        <div class="bg-white rounded-lg shadow-lg w-[360px] max-w-full p-6">
            <h2 class="text-lg font-normal text-gray-900 mb-2 select-none" id="delete-modal-title">
                Cảnh báo
            </h2>
            <p class="text-sm text-gray-600 mb-6">
                Bạn có chắc là muốn xóa người dùng
                <span id="deleteUserName" class="font-bold"></span> không?
            </p>
            <div class="flex justify-center gap-4">
                <button
                        type="button"
                        onclick="closeDeleteModal()"
                        class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300"
                >
                    Hủy
                </button>
                <form id="deleteUserForm" method="post" class="inline">
                    <input type="hidden" id="deleteUserId" name="userId">
                    <button
                            id="deleteUserButton"
                            type="submit"
                            class="px-4 py-2 border border-red-500 rounded-md text-red-500 hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-red-300"
                    >
                        Xóa
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/adminJs/HomeJs.js"></script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>