<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Đăng nhập</title>
  <script src="https://cdn.tailwindcss.com">
  </script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen" style="border: 10px solid #D6CFF7;">
<div class="w-full max-w-sm mx-auto">
  <div class="text-center mb-8">
    <img src="/images/Screenshot_2025-04-16_133839-removebg-preview.png" alt="Company Logo" class="mx-auto mb-4" style="width:auto; height:auto;"/>

    <h1 class="text-2xl font-bold">
      TCOM
    </h1>
    <p class="text-gray-600">
      TECH FOR LIFE
    </p>
  </div>
  <div class="bg-white p-8 rounded-lg shadow-md">
    <form  th:action="@{/login}" method="post">
      <div th:if="${param.error}" class="text-red-500 mb-4">
        <p th:text="${param.message}"></p>
        </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" placeholder="Email" type="email"/>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" placeholder="Password" type="password"/>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Đăng nhập
        </button>
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" th:href="@{/forgot}">
          Quên mật khẩu?
        </a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
