<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quên mật khẩu</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com">
    </script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen" style="border: 10px solid #D6CFF7;">
<div class="w-full max-w-sm mx-auto">
    <div class="text-center mb-8">
        <img src="/images/Screenshot_2025-04-16_133839-removebg-preview.png" alt="Company Logo" class="mx-auto mb-4"
             style="width:auto; height:auto;" />

        <h1 class="text-2xl font-bold">
            TCOM
        </h1>
        <p class="text-gray-600">
            TECH FOR LIFE
        </p>
    </div>
    <div class="bg-white p-8 rounded-lg shadow-md" >
        <div id="container">
            <h3 class="text-center text-lg font-medium mb-4">Thay đổi mật khẩu của bạn</h3>
            <form id="submitForm">
                <input type="hidden" id="token" th:value="${token}"/>
                <div class="mb-4">
                    <h3 id="message" style="color: red"></h3>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">
                        Mật khẩu mới
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="newPassword" placeholder="Password" type="password"/>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
                        Xác nhận mật khẩu
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirmPassword" placeholder="Confirm Password" type="password"/>
                </div>
                <div>
                    <button id="submitButton" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" type="submit">
                        Đổi mật khẩu
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-4 text-center">
            <a class="text-blue-600 hover:underline" th:href="@{/login}">
                Đăng nhập
            </a>
        </div>

    </div>

</div>
</body>
<script src="/js/ResetPass.js"></script>
</html>